/* button */
.button-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.all-button {
    float: left;
}

.btn-block {
    display: block;
}

.cancel-btn {
    float: right;
}

.btn-edit-delete {
    float: left;
    display: inline-block;
}

.button {
    border: none;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.booking-button {
    border: none;
    color: white;
    padding: 3px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.cancel-btn a {
    font-size: 23px;
}

.btn-blue {
    background-color: #007bff;
}

.btn-blue:hover {
    background-color: #005dc0;
    color: white;
}

.btn-red {
    background-color: #dc3545;
}

.btn-red:hover {
    background-color: #b32332;
    color: white;
}

.btn-green {
    background-color: #28a745;
}

.btn-green:hover {
    background-color: #23913c;
    color: white;
}

.btn-cyan {
    background-color: #17a2b8;
}

.btn-cyan:hover {
    background-color: #138a9c;
    color: white;
}

.btn-orange {
    background-color: #FF8C00;
}

.btn-orange:hover {
    background-color: #FFA500;
    color: white;
}

input[type=submit] {
    background-color: #28a745;
}

input[type=submit]:hover {
    background-color: #23913c;
}

input[type=reset] {
    background-color: #007bff;
}

input[type=reset]:hover {
    background-color: #005dc0;
}