body {
    margin: 0;
    padding: 0;
}


.content {
    margin-left: 160px;
}

.main-box {
    padding: 20px 20px 20px 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.car-list {
    margin-bottom: 10%;
    margin-top: 70px;
}